:root {
    --sagegreen:#517470;
    --darkgreen:#013220;
    --mustard: #d39902; 
    --pink:#e39197;
}

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html {
    scroll-behavior: smooth;
}

/* Set background color for entire webpage */
body {
    background: linear-gradient(#e0cdbe 75%, #517470 84%);
    /* background-color:#e0cdbe; */
    font-family: 'Raleway';
}

/* No bullet points for all ul lists on page (nav and contact links) */
ul {
    list-style: none;
}



/* Remove underline from all links in page and set link text color to white  */
nav a {
    text-decoration: none;
    color:var(--sagegreen);
}


/* Set header properties - contains the h1 and the nav links */
header {
    background-color:transparent;
    color:var(--sagegreen);
    padding: 2%;
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
    background-image: url(./images/banner2.jpg);
    background-size: cover;
    background-position: center;
    position:relative;
    width:100%;
    height:400px;
}



/* navigation properties - font size based on viewport size & nav links border settings */
nav {
    margin-right:1%;
    font-size: 1.5vw;
}

nav li {
    display:inline-block;
    padding: 10px;
    margin-left:3px;
}

nav li:hover {
    border-bottom: var(--pink) 2px solid;
}


/* About me section - includes a photo and a short paragraph that are displayed next to eachother on the page */
#about-me {
    font-size:20px;
    /* display:flex;
    align-items: center;
    flex-direction: row; */
    padding:0;
    margin: 2%;
}


#about-me img {
    max-width: 300px;
    height: auto;
    width:100%;
    margin:2% 5% 2% 2%;
}
/* heading and photo in about me section into a flexbox */
.intro {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width:75%;
    margin:2%;
    /* border-left:var(--sagegreen) solid 4px; */
    padding: 2%;
}

/* #about-me h2 {
    text-align: center;
    margin-left:3%;
    margin-right:3%;
    color:var(--darkgreen);
    text-shadow: 1px 1px 1px #ffffff;
} */


/* My work section with example photos that act as links - in a flexbox w header and then images are in another separate flexbox */
#portfolio {
    display:flex;
    flex-direction: column;
    margin-right:5%;
    width:100%;
}

/* My work header - align on the left with photos on the right & add dividing line */
#portfolio h2 {
    margin: auto 3% auto 3%;
    padding:2%;
    color:rgba(1, 50, 32, 0.5);
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
}

/* Separate flexbox for just the photos on this section - parent div class */
.portfolio-content {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width:100%;
}


.portfolio-content img {
    width:100%;
    max-width:400px;
    border-radius: 10px;
    border:black solid 3px;
    flex-shrink: 1;
    display:block;
}

.firstapp {
    display:flex;
    flex-direction: row;
}

.firstapp img {
    max-width: 500px;
}


.container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--sagegreen);
    border-radius: 10px;
}

.container:hover .overlay {
    opacity: 0.9;
}

.otext {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

/* secondary photo apps into another flexbox */
.secondary {
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    width:100%;
}

.title {
    background: rgb(81, 116, 112, 0.7);
    padding:10px;
    border-radius: 5px;
    font-size:20px;
    color:white;
    position:absolute;
    left:15px;
    bottom: 12px;
    display:none;
}

.title1, .title:hover {
    display:inline;
}

/* Contact me links at the bottom of the page
Centering, borders, size, ect */
#contact-me {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    /* background-color:var(--sagegreen); */
    /* padding:20px; */
    width:100%;
}

#contact-me h2 {
    color:rgba(1, 50, 32, 0.5);
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    margin: auto 3% auto 3%;
    padding:2%;
    font-weight: bolder;
}

#btn-div {
    margin: 2px auto 2px auto;
}

#submit {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--sagegreen);
    color:white;
    margin: 2px auto 2px auto;
    
}

#contact-links {
    display:flex;
    justify-content: space-between;
    align-content: center;
}


#contact-me a {
    max-width: 25%;
    color: white;
}

.icon-links {
    margin: 15px;
    text-align: center;
}


.icon-links span:hover {
    border-bottom: 2px solid var(--pink);
    color: rgba(0, 0, 0, 0.54)
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size:4vw;
    }
    nav {
        font-size: 2vw;
    }

    #about-me, .portfolio-content, .intro {
        flex-direction:column;
    }

    .intro {
        border-left: none;
        border-top: var(--sagegreen) solid 4px;
    }
    .intro img {
        align-self: center;
    }
    #contact-me {
        flex-direction: column;
        justify-content:center;
    }
    #contact-me h2 {
        border-right:none;
        border-bottom:white solid 4px;
    }

    

}

@media screen and (max-width: 576px) {
    #portfolio {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    #porfolio h2 {
        margin-left:auto;
        margin-right:auto;
    }
    .portfolio-content {
        border-left:0;
        border-top:var(--sagegreen) solid 4px;
        padding-top: 10px;
    }
}