:root {
    --sagegreen:#517470;
    --darkgreen:#013220;
}



* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
/* Set background color for entire webpage */
body {
    background-color:#e0cdbe;
}

/* No bullet points for all ul lists on page (nav and contact links) */
ul {
    list-style: none;
}

/* Remove underline from all links in page and set link text color to white  */
a {
    text-decoration: none;
    color:white;
}


/* Set header properties - contains the h1 and the nav links */
header {
    background-color:var(--sagegreen);
    margin:0;
    padding: 2%;
    color:white;
}


h1 {
    display:inline-block;
    font-size:48px;
}


nav {
    vertical-align: center;
    margin-right:1%;
    float:right;
    font-size: 2vw;
}

nav ul li {
    display:inline-block;
    border: solid 2px white;
    border-radius: 5px;
    padding: 10px;
}

/* About me section - includes a photo and a short paragraph that are displayed next to eachother on the page */
#about-me {
    font-size:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding:25px;
    border:#517470 solid 2px;
    margin: 2% 5% 2% 5%;
}

#about-me img {
    max-width: 400px;
}

.intro {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    width:50%;
    margin:2%;
    border-right:var(--sagegreen) solid 4px;
    padding: 2%;
}

.intro h2 {
    text-align: center;
    margin-bottom:1%;
    color:var(--darkgreen);
    text-shadow: 1px 1px 1px #ffffff;
}


/* My work section with example photos that act as links - in a flexbox w header and then images are in another separate flexbox */
#portfolio {
    display:flex;
    margin-right:5%;
    width:100%;
}

/* My work header - align on the left with photos on the right & add dividing line */
#portfolio h2 {
    margin-left:3%;
    margin-right:3%;
    padding:2%;
    color:var(--darkgreen);
    text-shadow: 1px 1px 1px #ffffff;
    font-size: 40px;
    margin-top: auto;
    margin-bottom: auto;
    
}

/* Separate flexbox for just the photos on this section - parent div class */
.portfolio-content {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width:100%;
    border-left: var(--sagegreen) solid 4px;
}

/* secondary photo apps into another flexbox */
.secondary {
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    flex-direction: row;
    width:50%;
}

.portfolio-content img {
    width:100%;
    max-width:300px;
    border-radius: 10px;
}

.firstapp img {
    max-width: 500px;
    border-radius: 10px;
}

.firstapp, .child {
    position:relative;
}

.title1, .title {
    background: rgb(81, 116, 112, 0.7);
    padding:10px;
    border-radius: 5px;
    font-size:20px;
    color:white;
    position:absolute;
    left:15px;
    bottom: 40px;
}

/* Have links glow when hovering over them */

/* .portfolio-content a:hover {
    box-shadow: 10px 10px 5px var(--sagegreen);
} */



/* Contact me links at the bottom of the page
Centering, borders, size, ect */
#contact-me {
    text-align: center;
    background-color:var(--sagegreen);
    padding:20px;
}

#contact-me h1 {
    color:var(--darkgreen);
    text-shadow: 1px 1px 1px #ffffff;
}

#contact-me li {
    display:inline-block;
    font-size: 20px;
    padding:15px;
    border-bottom:white solid 2px;
    border-top:white solid 2px;
    margin: 0 20px 0 20px
}

#contact-me a {
    max-width: 25%;
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size:40px;
    }
    nav {
        font-size: 13px;

    }

    #about-me {
        flex-direction:column;
    }

    .intro {
        border-right:none;
        border-bottom:var(--sagegreen) solid 4px;
    }
    .portfolio-content {
        flex-direction: column;
    }

}

@media screen and (max-width: 576px) {
    header h1 {
        font-size: 30px;
    }
    nav {
        font-size: 2vw;
    }
    #portfolio {
        flex-direction: column;
    }
    .secondary {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .secondary img {
        max-width: 50%;
    }
}